@import "~bootstrap/scss/bootstrap";



ul {
    list-style-type: none;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

.project-container {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #c14d4d;
}

.project-title {
    color: #e7e3e3;
}

.type-title {
    color: #007bff;
}

.type-details {
    margin-top: 10px;
}

.type-name, .type-date {
    font-size: 16px;
    margin-bottom: 5px;
}

.project-description {
    margin-top: 10px;
}

//FORM
.form_ {
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px ;

    h1 {
        color: #007bff;
    }

    label {
        font-weight: bold;
    }

    input,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }



}
